<li class="nav-item">
  <a href="/estabelecimentos" class="nav-link <%= "active" if params[:controller] == "estabelecimentos" %>">
    <i class="ph-sun-horizon"></i>
    <span>
      Visualizar estabelecimentos
    </span>
  </a>
</li>
