<li class="nav-item">
  <a href="/funcoes" class="nav-link <%= "active" if params[:controller] == "funcoes" %>">
    <i class="ph-buildings"></i>
    <span>
      Gerenciar Funções
    </span>
  </a>
</li>
