<li class="nav-item">
  <a href="/produtos" class="nav-link <%= "active" if params[:controller] == "produtos" %>">
    <i class="ph-archive"></i>
    <span>
      Adicionar Produtos
    </span>
  </a>
</li>
