<div id="<%= dom_id user_estabelecimento %>">
  <p>
    <strong>User:</strong>
    <%= user_estabelecimento.user_id %>
  </p>

  <p>
    <strong>Estabelecimento:</strong>
    <%= user_estabelecimento.estabelecimento_id %>
  </p>

</div>
